@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Bestelling plaatsen</title>
        <!-- Use bootstrap stylesheet -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <!-- Future stuff -->
        <p>Hier zal in de toekomst de Bestelling plaatsen pagina komen.</p>
    </body>
</html>